/* * {
    border: 1px solid red;
    margin: 0;
    padding: 0;
} */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-weight:900;
}

.recipe-list {
    margin: 8px;
    padding: 8px;
}

.recipe-list-inner{
    padding: 10px;
}

.text-center {
    text-align: center;
}

.chicken-color {
    background-color: orange;
}

.mac-color {
    background-color: yellow;
}

.pie-color {
    background-color: red;
}

h1 span {
    background-color: aqua;
    /* Sets background of text width to color */
}

#odin-title {
    text-decoration: underline;
}